.search-form {
  display: flex;
  justify-content: center;
}
.search-form__input {
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  background: #efefef;
  border: none;
  outline: none;
}
.search-form__button {
  padding: 0 1rem;
  border: none;
}
.search-form__button:hover {
  background: #ca0027;
  color: #fff;
}
